.user-line {
  display: list-item;
  flex-direction: row;
  margin: 10px;
}
.user-username {
  color: gray;
  font-size: small;
  margin-left: 10px;
}
.user-name {
  font-weight: bold;
}
.user-info {
  display: flex;
}